// Footer
footer{
  background: $primary-color;
  padding-top: 30px;
  
  // extends from sidebar
  .widget{
    display: block;
    border: none;
    padding: 30px;
    height: 295px;
    color: #fff;
    border-right: 1px solid rgba(255,255,255,0.5);
    
    .widgettitle{
      margin:0 0 25px 0;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.5em;
    }
    
    .textwidget{
      color: inherit;
      font-size: 0.95em;
      
      img{
        max-width: 100%;
      }
      
      p,h1, h2, h3, h4{
        color: inherit;
        font-size: inherit;
        margin-bottom: 10px;
        a{
          color: inherit;
        }
        i{
          color: inherit;
          margin-right: 5px;
          width: 20px;
        }
      }
    }
    
    
      ul.menu{
        padding-left: 0;
        li:last-of-type{            
          border-bottom: 1px solid rgba(255,255,255,0.3); 
        }
        
        li{
          list-style: none;
          border-top: 1px solid rgba(255,255,255,0.3);
          
          a{
            width: 100%;
            display:block;
            color: #fff;
            text-decoration: none;
            padding: 8px 0 8px 16px;
            
          }
          
        }
        
      }
      
      @media screen and (max-width: $breakpoint-md) {
            border: 0px;
          } 
    
  }
  
  .widget:last-of-type{
    border-right: 1px solid transparent;
  }
  
  .footer{
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 30px 30px 0 30px;
    
    p{
      border-top: 1px solid rgba(255,255,255,0.5);
      text-align: center;
      color: #fff;
      opacity: 0.6;
      padding: 8px 0;
      font-size: 12px;
      margin: 0;
    }
  }
}