// Jumbotron
.jumbotron{
  background-size: cover;
  height: 700px;
  padding-top: 300px;
  overflow:hidden;
  position: relative;
  
  @media screen and (max-width: $breakpoint-sm) {
    padding-top: 100px;
    text-align: center;
    height: 600px;
  }
  
  .movie-container{
    display: none;
    position: absolute;
    background: #000;
    text-align: center;
    width: 100%;
    top:0;
    padding-top: 180px;
    
    &:after{
      content: '\f00d';
      font-family: fontawesome;
      color: #fff;
      font-size: 22px;
      position: absolute;
      top: 6px; 
      right: 10px;      
    }
    
    &:hover{
      cursor: pointer;
    }
  }
  
  h1{
    font-weight: 600;
  }
  
  h1,p{
    display: none;
    color: #fff;
    text-shadow: 2px 2px 0px #707070;
    font-weight: 600;
  }
  
  .btn{
    display: none;
  }
   
  @media screen and (max-width: $breakpoint-sm) {
    margin-top: 40px;
  }
}

.jumbotron.full{
  height: 100vh;
  .movie-container{
    height: 100vh;
    z-index: 10;
  }
}
