// sidebar
.sidebar{
  .widget{
    background: #fff;
    padding: 20px 20px 15px 20px;
    border: 2px solid #e9e9e9;
    margin-bottom: 30px;
    margin-top: 0;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    list-style: none;
    
    .widgettitle{
      margin:0 0 25px 0;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.5em;
      &:before{
        content: '';
        position: absolute;
        height: 5px;
        width: 60px;
        background: $primary-color;
        margin-top: 30px;
      }
    }
    
    .textwidget{
      font-size: 0.95em;
      
      p{
        font-size: inherit;
        margin-bottom: 10px;
        i{
          margin-right: 5px;
          width: 20px;
        }
      }
    }
    
  }  
}
