// Call to action
.call-to-action{
  background: #f5f6f8;
  max-width: 100vw;
  padding: 45px 0;
  border-top: 1px solid #D4D4D4;
  overflow: auto;
  box-sizing: content-box;
  text-align: center;
  .call-title{
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .call-btn{
    text-transform: uppercase;
  }
 
}

.inline-full-width{
  clear:both;
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
  background-position: center;
  background-size: cover;
  
  box-sizing: content-box;
  // same width as content
  width: 1060px;
  margin-left: calc( ( ( ( 100vw - 1140px ) / 2 ) + 45px ) * -1 );
  padding-left: calc( ( ( 100vw - 1140px ) / 2 ) + 45px );
  padding-right: calc( ( ( 100vw - 1140px ) / 2 ) + 45px );
  
  @media screen and (max-width: $breakpoint-lg) {  
    width: 860px;
    margin-left: calc( ( ( ( 100vw - 940px ) / 2 ) + 45px ) * -1 );
    padding-left: calc( ( ( 100vw - 940px ) / 2 ) + 45px );
    padding-right: calc( ( ( 100vw - 940px ) / 2 ) + 45px );
  }
  
  @media screen and (max-width: $breakpoint-md) {
    width: 640px;
    margin-left: calc( ( ( ( 100vw - 750px ) / 2 ) + 45px ) * -1 );
    padding-left: calc( ( ( 100vw - 750px ) / 2 ) + 45px );
    padding-right: calc( ( ( 100vw - 750px ) / 2 ) + 45px );
  }
  
  @media screen and (max-width: $breakpoint-sm) {  
    width: 100%;
    margin-left: -55px;
    padding-left: 55px;
    padding-right: 55px;
  }
  
}
