// Big Advertisement
.pricing-table{
  margin-top: 60px;
  
  tbody{
    padding: 0;
    border: 1px solid #ddd;
    
    tr{
      width: 100%;
      display: inline-table;
          
      td{
        padding: 30px;
        
        span{
          font-weight: bold;
          font-size: 32px;
          margin-right: 10px;
        }
        
        i{
          color: $primary-color;
        }
        
      }
    }
    
    tr:nth-child(2){
      td{
        padding: 20px 30px;
        font-weight: bold;
        font-size: 24px;
        text-transform: capitalize;        
      }
    }
    
    tr:nth-child(3){
      td{
        line-height: 28px;
        padding: 30px 30px 10px 30px;
      }      
    }
    
  }
  
  tbody.highlighted{
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0px 6px 15px 1px rgba(0, 0, 0, 0.15);
    border-top: 13px solid #394B6F;
    margin-top: -20px;
    
    &:before{
      content: 'recommended';
      color: #fff;
      font-size: 12px;
      right: -32px;
      font-weight: bold;
      margin-top: 16px;
      padding: 7px;
      width: 160px;
      text-align: center;
      position: absolute;
      background: $primary-color;
      @include crossBrowser(transform,rotate(35deg) );
      
      @media screen and (max-width: $breakpoint-md) {
        display: none;
      }
    }
    
    tr:first-child{
      td{
        padding-top: 34px;
      }      
    }
    tr:last-child{
      td{
        padding-bottom: 26px;
      }      
    }
  }
}
